.start-page {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    .sec {
        // height: 1902PX;
        position: relative;
        // height: var(--height);
    }
    .swiper-slide {
        overflow: scroll;
    }

    .down-icon {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        animation: myMove 1s infinite;
    }
    .loading-wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        // background: #010122;
        background: #e0d0c0;
        z-index: 1000;
        top: 0;
        left: 0;
        .loading-con {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            span {
                color: blue;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 16px;
            }
        }
    }
}