
@mixin active($color) {
    color: white;
    &::after {
        background: $color;
        display: block;
    }
}

.tab-view {
    padding-top: 70px;
    overflow: hidden;
    .tab-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: #000;
        z-index: 500;
        display: flex;
        line-height: 70px;
        justify-content: space-around;
        >div{
            color: rgba(255,255,255,0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 20%;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            display: inline-block;
            text-align: center;
            &::after {
                content: '';
                width: 60px;
                height: 20px;
                position: absolute;
                left: 50%;
                top: 58%;
                transform: translate(-50%, -50%);
                z-index: -1;

            }
        }
        .movie.active  {
            @include active(#9e8fa6);
        }
        .teleplay.active  {
            @include active(#d8caaf);
        }
        .music.active  {
            @include active(#87c8dc);
        }
        .variety.active {
            @include active(#a7cba9);
        }
        .superStar.active  {
            @include active(#e8a3a3);
        }
    }
}