.chart-wrapper {
    position: relative;
    // padding-top: 30px;
    .remark {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #999999;
        font-size: 10PX;
        font-family: emoji;
    }
}